ipykernel

numpy # for numerical computing
matplotlib # for plotting
pandas # for data analysis
pyarrow # required for pandas
scikit-learn # for machine learning
apyori # for apriori algorithm

# sympy # for symbolic mathematics