ipykernel

numpy # for numerical computing
matplotlib # for plotting
pandas # for data analysis
pyarrow # required for pandas
scikit-learn # for machine learning
apyori # for apriori algorithm
nltk # for natural language processing
xgboost # for gradient boosting
tensorflow # for tensorflow
# sympy # for symbolic mathematics